body {
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

li {

    display: inline-block;
    font-size: 30px;
    background-size: 400px;
    background-color: rgb(43, 43, 43);
    padding: 15px;
    z-index: 1;
}

ul {
    width: max-content;
    margin: auto;
}

ul li ul {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

ul li:hover ul {
    display: block;
}

ul ul li {
    display: block;
}

a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px black;
    text-align: center;
}

a:hover {
    color: aqua;
}

.header {
    z-index: 1;
    position: fixed;
    line-height: 20px;
    height: 60px;
    width: 100vw;
    background-color: rgb(43, 43, 43);
    border-bottom: 2px solid black;
}

.gallery {
    /* dorobit responzivny dizajn */
    background-color: rgba(43, 43, 43, 0.3);
    position: relative;
    top: 100px;
    left: 10%;
    width: 80%;
}


.image {
    overflow: auto;
    margin: 20px;
    left: 15%;
    max-width: 35%;
    max-height: 40vh;
    display: inline-block;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black ;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

p {
    display: table;
    margin: 20px;
}

.text {
    background-image: none;
    background-color: white;
}

.textCent {
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .image {
        max-width: 80%;
        left: 5%;
    }
    .header {
        position: absolute;
    }
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.hidden {
    visibility: hidden;
}

.kari1 {
    background-image: url("../image/kari1.jpg");
}
.kari2 {
    background-image: url("../image/kari2.jpg");
}
.kari3 {
    background-image: url("../image/kari3.jpg");
}
.kari4 {
    background-image: url("../image/kari4.jpg");
}
.kari5 {
    background-image: url("../image/kari5.jpg");
}
