body {
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

li {

    display: inline-block;
    font-size: 30px;
    background-size: 400px;
    background-color: rgb(43, 43, 43);
    padding: 15px;
    z-index: 1;
}

ul {
    width: max-content;
    margin: auto;
}

ul li ul {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

ul li:hover ul {
    display: block;
}

ul ul li {
    display: block;
}

a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px black;
    text-align: center;
}

a:hover {
    color: aqua;
}

.hidden {
    display: none;
}

.gallery {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: burlywood;
    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.header {
    z-index: 1;
    position: fixed;
    line-height: 20px;
    height: 60px;
    width: 100vw;
    background-color: rgb(43, 43, 43);
    border-bottom: 2px solid black;
}

.image {
    overflow: hidden;
    margin: 1%;
    left: 13%;
    width: 35%;
    max-height: 40vh;
    display: inline-block;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black ;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.checkImg {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    max-width: 600px;
    border-width: 2px;
}

.imgmid {
    margin-left: auto;
    margin-right: auto;
}

.checkImg img {
    max-width: inherit;
    max-height: inherit;
    object-fit: cover;
}

.checkText {
    font-weight: bold;
    font-size: x-large ;
    text-align: center;
}

.article {
    margin: 2%;
    left: 13%;
    max-width: 70%;
    display: block;
    position: relative;
    border: 1px solid black ;
}

.article-okno {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px ;
    width: 50vw;
    height: 300px;
}

.article-text {
    height: auto;
    max-width: 50vw;
}

.text_me {
    white-space: pre-wrap;
}

.button {
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

label {
    font-family: Verdana;
    font-size: 45px;
    line-height: 1.5;
}

p {
    display: table;
    margin: 20px;
}

.text {
    background-image: none;
    background-color: white;
}
.textCent {
    text-align: center;
}

.textInfo {
    font-size: 20px;
}

.selectMid {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    position: relative;
    display: block;
}

.selectMid-selected {
    background-color: DodgerBlue;
}

@media only screen and (max-width: 900px) {
    .image {
        width: 80%;
        left: 5%;
    }
    .header {
        position: absolute;
    }
}

div#editor {
    display: none;
}


.form-signin {
    font-size: larger;
    font-weight: bolder;
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}
.form-obr {
    margin-bottom: 80px;
}
.form-signin-text {
    max-width: 80vW;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

